doctype html
html(lang="#{default_lang}",ng-app="#{ng_root_app}",ng-controller="#{ng_root_controller}")
  head
    title(ng-bind="data.title") DataBata
    //DataBata - your database is dipped in data butter!
    base(href)
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="author", content="Nortal (Anton Stalnuhhin)")
    meta(name="description", content="DataBata, database, migration, refactor, tool, open source, sql, propagation, propagator")
    meta(name="viewport", content="width=device-width,user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable",content="yes")
    link(rel="stylesheet",type="text/css",href="/#{style_file}")
  body

  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.title(href="/") DataBata
        ul.nav.navbar-left.nav-module
          li
            span.label.label-danger(ng-if="data.module !== 'ALL'")
              | {{data.module}} &nbsp;
              i.fa.fa-times.click(ng-click="clickModule('ALL')")
      #navbar-collapse.collapse.navbar-collapse
        form.navbar-form.navbar-right(role="search")
          .form-group.logs-search
            i.fa.fa-times.click(ng-click="data.logs_filter.$ = ''")
            input.form-control(type="text",placeholder="search text",ng-model="data.logs_filter.$",ng-model-options="{ debounce: 1000 }")
  .container
    .row
      .col-sm-5
        .row(ng-show="data.info.user")
          .col-xs-2.text-right.text-muted: b user
          .col-xs-10(ng-bind="data.info.user")
        .row(ng-show="data.info.host")
          .col-xs-2.text-right.text-muted: b host
          .col-xs-10(ng-bind="data.info.host")
        .row(ng-show="data.info.port")
          .col-xs-2.text-right.text-muted: b port
          .col-xs-10(ng-bind="data.info.port")
        .row(ng-show="data.info.sid")
          .col-xs-2.text-right.text-muted: b SID
          .col-xs-10(ng-bind="data.info.sid")
        .row(ng-show="data.info.service")
          .col-xs-2.text-right.text-muted: b service
          .col-xs-10(ng-bind="data.info.service")
        .row.mt10
          .col-xs-12: button.btn.btn-default(type="button") Export
      .col-sm-7.mt10
        button.btn.btn-primary.btn-xs.btn-module(type="button",ng-click="clickModule(item)",ng-class="{'btn-info': item === data.module}",ng-repeat="item in data.modules") {{item}}
  .section_logs_title(ng-show="data.logs.length > 0")
    .container: .row: .col-sm-12
      h3.pull-right: b LOGS<small class="sub">{{logs_filtered.length < data.logs.length ? logs_filtered.length + ' of ' : ''}}{{data.logs.length}}</small>

  .section_logs(ng-show="data.logs.length > 0")
    .container
      .row: .col-lg-12
        pre.mt10.mb10.log(infinite-scroll="showMoreLogs()",infinite-scroll-distance="1")
          code.hljs.sql(ng-repeat="item in logs_filtered = (data.logs | filter:data.logs_filter | orderBy:data.logs_order:data.logs_reverse) | limitTo:data.logs_limit")
            //.log-desc.unselectable
              .btn-group.btn-group-xs
                button.btn.btn-default.disabled(type="button") {{formatDate(item.updateTime)}}
                //span.label.label-default(ng-if="item.dbChangeCode") {{item.dbChangeCode}}
                //span.label.label-primary(ng-if="data.module === 'ALL'") {{item.moduleName}}
                button.btn.btn-default.disabled(type="button",ng-if="item.rowsUpdated > 0") {{item.rowsUpdated}}r
                button.btn.btn-default.disabled(type="button",ng-if="item.executionTime > 0") {{item.executionTime}}s
            span.label.label-primary.pull-right(data-placement="left",bs-tooltip="getLogData(item)")
              i.fa.fa-info
            span.label.label-success.pull-right(ng-if="item.rowsUpdated > 1") {{item.rowsUpdated}} rows
            span.label.pull-right(ng-if="item.executionTime > 1",ng-class="{'label-warning': item.executionTime >= 1 && item.executionTime < 10, 'label-danger': item.executionTime >= 10}") {{item.executionTime}}sec
            span(ng-bind-html="highlighted(item)")

        //table.table.table-hover.logs_table
          thead
            tr
              th(colspan=2) {{logs_filtered.length}} rows
              th
                a(href="",ng-click="data.logs_order='updateTime'; data.logs_reverse = !data.logs_reverse")
                  | WHEN &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.logs_order == 'updateTime' && data.logs_reverse")
                  i.fa.fa-sort-asc(ng-show="data.logs_order == 'updateTime' && !data.logs_reverse")
              th
                a(href="",ng-click="data.logs_order='executionTime'; data.logs_reverse = !data.logs_reverse")
                  | MS &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.logs_order == 'executionTime' && data.logs_reverse")
                  i.fa.fa-sort-asc(ng-show="data.logs_order == 'executionTime' && !data.logs_reverse")
              th
                a(href="",ng-click="data.logs_order='rowsUpdated'; data.logs_reverse = !data.logs_reverse")
                  | ROWS &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.logs_order == 'rowsUpdated' && data.logs_reverse")
                  i.fa.fa-sort-asc(ng-show="data.logs_order == 'rowsUpdated' && !data.logs_reverse")
              th change
              th(ng-if="data.module === 'ALL'") module
          tbody
            tr(ng-repeat="item in logs_filtered = (data.logs | filter:data.logs_filter | orderBy:data.logs_order:data.logs_reverse) | limitTo:data.logs_limit")
              td {{$index + 1}}
              td
                span.click(ng-if="item.sqlText",ng-click="modal('SQL', item.sqlText)")
                  i.fa.fa-database
                | &nbsp;&nbsp;&nbsp;
                span.click.text-danger(ng-if="item.error_code",ng-click="modal('ERROR ' + item.errorCode, item.errorText)")
                  i.fa.fa-exclamation-circle.text-danger
                  b &nbsp;{{item.errorCode}}
              td {{formatDate(item.updateTime)}}
              td {{item.executionTime > 0 ? item.executionTime : ''}}
              td {{item.rowsUpdated > 0 ? item.rowsUpdated : ''}}
              td {{item.dbChangeCode}}
              td(ng-if="data.module === 'ALL'") {{item.moduleName}}
  //.container
    .row
      .col-sm-6
        #history.anchor
        h3.history_title: b HISTORY<small class="sub">{{data.history_grouped_count < data.history.length ? data.history_grouped_count + ' of ' : ''}}{{data.history.length}}</small>

        .tree
          ul
            li(ng-repeat="(group1, items) in data.history_grouped")
              span
                i.fa.fa-calendar
                | &nbsp;{{group1}}
              ul
                li(ng-repeat="item in items")
                  span
                    i.fa.fa-calendar
                    | {{item.changeTime}}
                  | &ndash; {{item.code}}
                  span(ng-if="data.module === 'ALL'") &nbsp;({{item.moduleName}})
      .col-sm-6
        #objects.anchor
        h3.objects_title.text-right: b OBJECTS<small class="sub">{{objects_filtered.length < data.objects.length ? objects_filtered.length + ' of ' : ''}}{{data.objects.length}}</small>
        table.table.table-hover.objects_table(ng-show="objects_filtered.length > 0")
          thead
            tr
              th
                a(href="",ng-click="data.objects_order='objectName'; data.objects_reverse = !data.objects_reverse")
                  | OBJECT &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'objectName' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'objectName' && !data.objects_reverse")
              th
                a(href="",ng-if="data.module === 'ALL'",ng-click="data.objects_order='moduleName'; data.objects_reverse = !data.objects_reverse")
                  | MODULE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'moduleName' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'moduleName' && !data.objects_reverse")
              th
                a(href="",ng-click="data.objects_order='version'; data.objects_reverse = !data.objects_reverse")
                  | VERSION &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'version' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'version' && !data.objects_reverse")
              th
                a(href="",ng-click="data.objects_order='objectType'; data.objects_reverse = !data.objects_reverse")
                  | TYPE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'objectType' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'objectType' && !data.objects_reverse")
          tbody
            tr(ng-repeat="item in objects_filtered = (data.objects | filter:data.objects_filter | orderBy:data.objects_order:data.objects_reverse)")
              td(colspan=4)
                span.pull-left.click(ng-click="showLog(item.objectName)") {{item.objectName}}
                span.pull-right {{item.objectType}}
                br
                span.pull-left: span.label.label-info {{item.version}}
                span.pull-left(ng-if="data.module === 'ALL'"): span.label.label-primary {{item.moduleName}}
                span.pull-right.text-muted {{item.md5Hash}}

  .container
    footer: .row
      .col-xs-2.pull-right.text-right: a(href="http://www.nortal.com/"): img(src="/assets/img/nortal_logo.png", width="50px")
      .col-xs-10
        ul.list-unstyled.list-inline
          li: a(href="http://blog.nortal.com/") Blog
          li: a(href="https://github.com/nortal/databata/") GitHub
          li: a(href="#") Donate
          li: a(href="https://github.com/nortal/databata/LICENSE") MIT License
          li: a(href="mailto:maksim.boiko@nortal.com") Support

  each js_file in js_files
    script(type="text/javascript", src="/#{js_file}")