doctype html
html(lang="#{default_lang}",ng-app="#{ng_root_app}",ng-controller="#{ng_root_controller}")
  head
    title(ng-bind="data.title") DataBata
    //DataBata - your database is dipped in data butter!
    base(href)
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="author", content="Nortal (Anton Stalnuhhin)")
    meta(name="description", content="DataBata, database, migration, refactor, tool, open source, sql, propagation, propagator")
    meta(name="viewport", content="width=device-width,user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable",content="yes")
    link(rel="stylesheet",type="text/css",href="/#{style_file}")
  body
  #up.anchor
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.title(href="/"): img(src="/assets/img/logo.png",height="40px")
        ul.nav.navbar-left.nav-module
          li
            span.label.label-danger(ng-if="data.module !== 'ALL'")
              | {{data.module}} &nbsp;
              i.fa.fa-times.click(ng-click="clickModule('ALL')")
      #navbar-collapse.collapse.navbar-collapse
        form.navbar-form.navbar-right(role="search")
          .form-group.search_input
            i.fa.fa-times.click(ng-click="data.logs_filter.$ = ''")
            input.form-control(type="text",placeholder="search text",ng-model="data.logs_filter.$",ng-model-options="{ debounce: 200 }")
  .container
    .row
      .col-sm-5
        .row(ng-show="data.info.user")
          .col-xs-2.text-right.text-muted: b user
          .col-xs-10(ng-bind="data.info.user")
        .row(ng-show="data.info.host")
          .col-xs-2.text-right.text-muted: b host
          .col-xs-10(ng-bind="data.info.host")
        .row(ng-show="data.info.port")
          .col-xs-2.text-right.text-muted: b port
          .col-xs-10(ng-bind="data.info.port")
        .row(ng-show="data.info.sid")
          .col-xs-2.text-right.text-muted: b SID
          .col-xs-10(ng-bind="data.info.sid")
        .row(ng-show="data.info.service")
          .col-xs-2.text-right.text-muted: b service
          .col-xs-10(ng-bind="data.info.service")
        //.row.mt10
          .col-xs-12: button.btn.btn-default(type="button") Export
      .col-sm-7.mt10
        button.btn.btn-primary.btn-xs.btn-module(type="button",ng-click="clickModule(item)",ng-class="{'btn-info': item === data.module}",ng-repeat="item in data.modules") {{item}}
  #content.anchor
  .container: .row
    .col-sm-4.click.log_title(ng-class="{'active': data.tab === 'log'}",ng-click="data.tab = 'log'")
      h3.text-left: b
        | LOGS<small class="sub">{{data.logs_filtered.length < data.logs.length ? data.logs_filtered.length + ' of ' : ''}}{{data.logs.length}}</small>
    .col-sm-4.click.history_title(ng-class="{'active': data.tab === 'history'}",ng-click="data.tab = 'history'")
      h3.text-center: b
        | HISTORY<small class="sub">{{data.history_filtered.length < data.history.length ? data.history_filtered.length + ' of ' : ''}}{{data.history.length}}</small>
    .col-sm-4.click.object_title(ng-class="{'active': data.tab === 'object'}",ng-click="data.tab = 'object'")
      h3.text-right: b
        | OBJECTS<small class="sub">{{data.objects_filtered.length < data.objects.length ? data.objects_filtered.length + ' of ' : ''}}{{data.objects.length}}</small>
  .section_log(ng-show="data.tab === 'log'")
    .container
      .row: .col-lg-12(ng-show="data.logs_filtered.length > 0")
        pre.mt10.mb10.log(infinite-scroll="showMoreLogs()",infinite-scroll-distance="1",infinite-scroll-disabled="data.tab !== 'log'")
          code.hljs.sql(ng-repeat="item in data.logs_filtered = (data.logs | filter:data.logs_filter | orderBy:data.logs_order:data.logs_reverse) | limitTo:data.logs_limit")
            span.label.label-primary.pull-right(data-placement="left",bs-tooltip="getLogData(item)")
              i.fa.fa-info
            span.label.label-success.pull-right(ng-if="item.rowsUpdated > 1") {{item.rowsUpdated}} rows
            span.label.pull-right(ng-if="item.executionTime > 1",ng-class="{'label-warning': item.executionTime >= 1 && item.executionTime < 10, 'label-danger': item.executionTime >= 10}") {{item.executionTime}}sec
            span.label.label-danger.pull-right.click(ng-if="item.errorCode > 0",ng-click="modal('ERROR: ' + item.errorCode, item.errorText)")
              i.fa.fa-exclamation-circle
              | &nbsp;{{item.errorCode}}
            span(ng-bind-html="highlighted(item)")
  .section_log(ng-show="data.tab === 'history'")
    .container
      .row: .col-lg-12(ng-show="data.history_filtered.length > 0")
        table.table.table-hover.history_table.mt10.mb10
          thead
            tr
              th
                a(href="",ng-click="data.history_order='code'; data.history_reverse = !data.history_reverse")
                  | CHANGE CODE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.history_order == 'code' && data.history_reverse")
                  i.fa.fa-sort-asc(ng-show="data.history_order == 'code' && !data.history_reverse")
              th(ng-if="data.module === 'ALL'")
                a(href="",ng-click="data.history_order='moduleName'; data.history_reverse = !data.history_reverse")
                  | MODULE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.history_order == 'moduleName' && data.history_reverse")
                  i.fa.fa-sort-asc(ng-show="data.history_order == 'moduleName' && !data.history_reverse")
              th
                a(href="",ng-click="data.history_order='changeTime'; data.history_reverse = !data.history_reverse")
                  | CHANGE TIME &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.history_order == 'changeTime' && data.history_reverse")
                  i.fa.fa-sort-asc(ng-show="data.history_order == 'changeTime' && !data.history_reverse")
          tbody
            tr(ng-repeat="item in data.history_filtered = (data.history | filter:data.history_filter | orderBy:data.history_order:data.history_reverse)")
              td: span.pull-left.click(ng-click="showLog(item.code)") {{item.code}}
              td(ng-if="data.module === 'ALL'") {{item.moduleName}}
              td {{formatDate(item.changeTime)}}
  .section_log(ng-show="data.tab === 'object'")
    .container
      .row: .col-lg-12(ng-show="data.objects_filtered.length > 0")
        table.table.table-hover.object_table.mt10.mb10
          thead
            tr
              th
                a(href="",ng-click="data.objects_order='objectName'; data.objects_reverse = !data.objects_reverse")
                  | OBJECT &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'objectName' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'objectName' && !data.objects_reverse")
              th
                a(href="",ng-if="data.module === 'ALL'",ng-click="data.objects_order='moduleName'; data.objects_reverse = !data.objects_reverse")
                  | MODULE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'moduleName' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'moduleName' && !data.objects_reverse")
              th
                a(href="",ng-click="data.objects_order='version'; data.objects_reverse = !data.objects_reverse")
                  | VERSION &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'version' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'version' && !data.objects_reverse")
              th
                a(href="",ng-click="data.objects_order='objectType'; data.objects_reverse = !data.objects_reverse")
                  | TYPE &nbsp;
                  i.fa.fa-sort-desc(ng-show="data.objects_order == 'objectType' && data.objects_reverse")
                  i.fa.fa-sort-asc(ng-show="data.objects_order == 'objectType' && !data.objects_reverse")
          tbody
            tr(ng-repeat="item in data.objects_filtered = (data.objects | filter:data.objects_filter | orderBy:data.objects_order:data.objects_reverse)")
              td(colspan=4)
                span.pull-left.click(ng-click="showLog(item.objectName)") {{item.objectName}}
                span.pull-right {{item.objectType}}
                br
                span.pull-left: span.label.label-info {{item.version}}
                span.pull-left(ng-if="data.module === 'ALL'"): span.label.label-primary {{item.moduleName}}
                span.pull-right.text-muted {{item.md5Hash}}

  .container
    footer: .row
      .col-xs-2.pull-right.text-right: a(href="http://www.nortal.com/"): img(src="/assets/img/nortal_logo.png", height="50px")
      .col-xs-10
        ul.list-unstyled.list-inline
          li: a(href="http://blog.nortal.com/") Blog
          li: a(href="https://github.com/nortal/DataBata/") GitHub
          li: a(href="https://github.com/nortal/DataBata/blob/master/LICENSE") MIT License
          li: a(href="https://github.com/nortal/DataBata/issues") Support

  each js_file in js_files
    script(type="text/javascript", src="/#{js_file}")